{% extends "layout.html" %}
{% block styles %}
{% endblock styles %}
{% block content %}
    {% if creations %}
          <div class="col-md-12 well">
            <div class="pb-4 text-center">
                <h1 class="display-4">Creations</h1>
            </div>
            <div id="creations">
                <div class="flex-container-creations mb-3">
                {% for creation in creations.items %}
                    {% include "includes/_creation.html"%}
                {% endfor %}
                </div>
            </div>
          </div>
        {% include "includes/_creationspagination.html" %}
    {% endif %}
    {% include "includes/_getintouch.html" %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
