<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/favicons/favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?ver=4.7.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css">
    {% block styles %}{% endblock styles %}
    {% assets "css_main" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
    {% endassets %}
    {% include "includes/_title.html" %}
</head>
<body>
    {% include "includes/_navbar.html" %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "includes/_messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include "includes/_footer.html" %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}{% endblock %}
    {% assets "js_main" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>
