{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/atom-one-dark.min.css">
{% endblock styles %}
{% block content %}
    {% if posts %}
            <div class="pb-4 text-center">
                <h1 class="display-4">Blog</h1>
            </div>
            <div id="posts">
                <div class="flex-container-posts mb-3">
                {% for post in posts.items %}
                    {% include "includes/_post.html"%}
                {% endfor %}
                </div>
            </div>
        {% include "includes/_postspagination.html" %}
    {% endif %}
    {% include "includes/_getintouch.html" %}
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highlightinit.js') }}"></script>
{% endblock scripts %}
