{% extends "layout.html" %}
{% block styles %}
{% endblock styles %}
{% block content %}
    {% if scripts %}
          <div class="col-md-12 well">
            <div class="pb-4 text-center">
                <h1 class="display-4">Scripts</h1>
            </div>
            <div id="scripts">
                <div class="flex-container-scripts mb-3">
                {% for script in scripts.items %}
                    {% include "includes/_script.html"%}
                {% endfor %}
                </div>
            </div>
          </div>
        {% include "includes/_scriptspagination.html" %}
    {% endif %}
    {% include "includes/_getintouch.html" %}
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
