<div class="pricing-header pb-4 mx-auto text-center">
    <h1 class="display-4">Latest</h1>
</div>
<div class="flex-container-activity text-center mb-4">
    <div class="content-section mx-2 my-2">
        <h3 class="display-4"><a class="activity-title text-dark" href="{{ url_for('main.posts') }}">Posts <i class="fa fa-edit"></i></a></h3>
            <ul class="list-group">
                {% for latest_post in latest_posts %}
                <li class="list-group-item list-group-item-light"><a class="activity-item text-dark lead" href="{{ url_for('posts.post', post_id=latest_post.id) }}">{{ latest_post.title|truncate(35) }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <div class="content-section mx-2 my-2">
        <h3 class="display-4"><a class="activity-title text-dark" href="{{ url_for('main.creations') }}">Creations <i class="fa fa-globe"></i></a></h3>
            <ul class="list-group">
                {% for latest_creation in latest_creations %}
                <li class="list-group-item list-group-item-light"><a class="activity-item text-dark lead" href="{{ url_for('creations.creation', creation_id=latest_creation.id) }}">{{ latest_creation.title|truncate(35) }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <div class="content-section mx-2 my-2">
        <h3 class="display-4"><a class="activity-title text-dark" href="{{ url_for('main.scripts') }}">Scripts <i class="fa fa-code"></i></a></h3>
            <ul class="list-group">
                {% for latest_script in latest_scripts %}
                <li class="list-group-item list-group-item-light"><a class="activity-item text-dark lead" href="{{ url_for('scripts.script', script_id=latest_script.id) }}">{{ latest_script.title|truncate(35) }}</a></li>
                {% endfor %}
            </ul>
    </div>
</div>
