{% if creations.pages > 1 %}
    <nav id="creations-pagination">
        <ul class="pagination justify-content-center">
            {% for page_num in creations.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if creations.page == page_num %}
                  <a class="btn btn-dark" href="{{ url_for('main.creations', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                  <a class="btn btn-outline-dark" href="{{ url_for('main.creations', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
              {% else %}
                ...
              {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
