<article class="media content-section mx-2 my-2 lead">
  <div class="media-body">
    <h1 class="display-4 text-center"><a class="article-title text-dark" href="{{ url_for('creations.creation', creation_id=creation.id) }}">{{ creation.title }}</a></h1>
    <p class="article-content">{{ creation.description | safe | truncate(100) }}</p>
  </div>
</article>
