<footer class="page-footer font-small blue pt-4 border-top lead">
    <div class="footer-copyright text-center py-3">Powered by <a class="mr-1 text-dark footer-link" href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a><i class="fa fa-flask"></i></div>
</footer>
