<hr class="divider">
<div id="getintouch">
    <div class="px-3 py-3 mx-auto text-center">
        <h1 class="display-4">Get in Touch</h1>
        <p class="lead">Check out my code or contact me below</p>
    </div>
    <div class="mb-5 text-center flex-container flex-container-getintouch">
        <div class="raised mx-2 my-2">
            <div class="corner_top_left"></div>
            <div class="corner_bottom_right"></div>
            <div class="raised-item">
                <a href="https://gitlab.com/mwestdev" target="_blank"><i class="fa fa-gitlab fa-3x" alt="Gitlab"></i></a>
            </div>
        </div>
        <div class="raised mx-2 my-2">
            <div class="corner_top_left"></div>
            <div class="corner_bottom_right"></div>
            <div class="raised-item">
                <a href="https://www.linkedin.com/in/mwestdev" target="_blank"><i class="fa fa-linkedin fa-3x" alt="Linkedin"></i></a>
            </div>
        </div>
    </div>
</div>
