<div class="pricing-header px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
      <p class="lead">Hey 👋 , I'm a Front-End developer with a keen interest in leveraging Javascript, Python and APIs to create useful applications.</p>
</div>