<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Michael West</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link text-link" href="{{ url_for('main.posts') }}">Posts</a>
          <a class="nav-item nav-link text-link" href="{{ url_for('main.creations') }}">Creations</a>
          <a class="nav-item nav-link text-link" href="{{ url_for('main.scripts') }}">Scripts</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown bg-steel">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('posts.new_post') }}">Post</a>
                    <a class="dropdown-item" href="{{ url_for('creations.new_creation') }}">Creation</a>
                    <a class="dropdown-item" href="{{ url_for('scripts.new_script') }}">Script</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle navbar-img" src="{{ url_for('static', filename='images/profile_pics/' + current_user.image_file) }}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbardropdown">
                    <a class="dropdown-item" href="{{ url_for('users.account') }}">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                </div>
            </li>
          {% else %}
            <a class="nav-item nav-link" href="https://gitlab.com/mwestdev" target="_blank"><i class="fa fa-gitlab mr-1 ml-1" alt="Gitlab"></i></a>
            <a class="nav-item nav-link" href="https://www.linkedin.com/in/mwestdev" target="_blank"><i class="fa fa-linkedin mr-1 ml-1" alt="Linkedin"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
