<article class="media content-section mx-2 my-2 lead">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
            <p class="mr-2">{{ post.author.username }}</p>
          <small class="text-muted lead">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        </div>
        <h1 class="display-4">
            <a class="article-title text-dark" href="{{ url_for('posts.post', post_id=post.id) }}">
            {{ post.title }}</h1>
            </a>
        </h1>
        <p class="article-content">{{ post.content | safe | truncate(100) | striptags | safe }}</p>
      </div>
</article>
