.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

@media (max-width: 28em) {
    .article-img {
        display: none;
    }
}

.media-body {
    overflow: hidden;
}

.media-body > p > img {
    width: 100% !important;
    height: auto !important;
}

.media-body > p > a > img {
    width: 100% !important;
    height: auto !important;
}

.media-body h3 > a: link,
.media-body p > a: link {
    text-decoration: underline;
    color: inherit;
}

.media-body  h1.display-4  {
	font-size: 1.9em;
}

.media {
    overflow: hidden;
}
