// Settings
$color-primary: #343a40;
$font-primary: Hack, monaco, monospace;

// Globals
html {
    font-size: 14px;
}

body {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $color-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary;
}

a,
a:active,
a:focus {
    outline: none;
    color: inherit;
}

a:hover {
    color: #428bca;
    text-decoration: none;
}

pre,
code,
button,
input,
input,
select,
textarea {
    font-family: $font-primary;
}

// Common components

h1.display-4 {
    font-size: 3em;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.lead {
    font-size: 1.28em;
}

.divider {
    margin: 3rem 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
