.form-contact,
.form-login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

/* WebKit, Edge */
::-webkit-input-placeholder {
    font-family: $font-primary;
} /* Firefox 4-18 */
:-moz-placeholder {
    font-family: $font-primary;
} /* Firefox 19+ */
::-moz-placeholder {
    font-family: $font-primary;
} /* IE 10-11 */
:-ms-input-placeholder {
    font-family: $font-primary;
} /* Edge */
::-ms-input-placeholder {
    font-family: $font-primary;
} /* MODERN BROWSER */
::placeholder {
    font-family: $font-primary;
}
