@media (max-width: 400px) {
    .gitlab-embed-snippets .blob-content,
    .gitlab-embed-snippets .line-numbers {
        display: none;
    }
    .gitlab-embed-snippets .file-content {
        border: none !important;
    }
    .gitlab-embed-snippets .js-file-title {
        border-radius: 4px 4px 4px 4px !important;
        border-bottom: 1px solid #e5e5e5 !important;
    }
}
