.flex-container-activity {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-activity h3 {
    font-size: 2em;
}

.flex-container-activity > .content-section > .list-group > .list-group-item {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flex-container-activity > .content-section {
    width: 280px;
}

.flex-container-activity .activity-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}
