// Navbar
.navbar {
    font-family: $font-primary;
    background-color: $color-primary;
}

.navbar-brand {
    font-size: 1.57em;
}

.nav-item > .fa {
    font-size: 1.8em;
}

.nav-item,
.dropdown-item {
    font-size: 1.37em;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-img {
    height: 30px;
    width: 30px;
}

.active a.page-link,
.dropdown-menu .active {
    background-color: $color-primary !important;
    border-color: $color-primary !important;
}
//.navbar-toggler:focus,
//.navbar-toggler:hover {
//text-decoration: none;
//outline: none;
//}
