.flex-container-posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-posts > article.content-section {
    width: 430px;
}

article .article-metadata * {
    font-size: 1.1em;
    display: inline;
}

.flex-container-posts .media-body h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
