.raised {
    background: #6c757d;
    display: inline-block;
    position: relative;
}
.raised .raised-item {
    transition: all 0.1s ease;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
    background-color: #343a40;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 10px 20px;
}
.raised:hover .raised-item {
    transform: translate3d(0.6rem, -0.6rem, 0);
    transition-delay: 75ms;
}
.corner_bottom_right,
.corner_top_left {
    left: 0;
    top: 0;
    width: 0.8rem;
    height: 0.8rem;
    transition: all 0.1s ease;
    transform: rotate(-45deg) scale(0);
    background: #6c757d;
    position: absolute;
    z-index: 0;
    transform-origin: 0% 0%;
}
.corner_bottom_right {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: rotate(45deg) scale(0);
    transform-origin: 100% 100%;
}
.raised:hover .corner_bottom_right,
.raised:hover .corner_top_left {
    transform: rotate(-45deg) scale(1);
    transition-delay: 75ms;
}
.raised:hover .corner_bottom_right {
    transform: rotate(45deg) scale(1);
}
