.flex-container-scripts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-container-scripts > article.content-section {
    width: 430px;
}

.flex-container-scripts .media-body h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
